---
// src/pages/about.astro
import MainLayout from '../components/layout/MainLayout.astro';
---
<MainLayout>
  <div class="container mt-4">
    <h1>Sobre Nosotros</h1>
    <p>En Mi Ecommerce, nos dedicamos a ofrecer los mejores productos al mejor precio. Conoce más sobre nuestra historia y misión.</p>
  </div>
</MainLayout>
 
